.cards {
  padding: 4rem;
  background: #fff;
  align-items: center;
}

.centriraj{
  text-align: center;
  color: black;
  padding-top: 5%;
}

h1{
  text-align: center;
  color: black;
}

.cards__container {
  align-items: center;
  max-width: 1290px;
  width: 60%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
  width: 100%
}

.cards__items {

  flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
  position: static;
}

.cards__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  max-height: 125px;
  position: relative;
  z-index: 11;
  background-color: aliceblue;
}

.cards__item__link {
  display: flex;
  flex-flow: row;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  filter: drop-shadow(0 6px 20px rgba(0, 0, 0, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 145px;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  padding: 6px 8px;
  max-width: calc((100%) - 40px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
  border-top-right-radius: 10px;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 100px;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__icon {
  padding-right: 1px;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
  width: 600px;
}

.cards__item__location {
  display: flex;
  padding: 25px 10px 25px 100px;
  justify-self: flex-end;
  max-height: 10px;
  align-items: center;
}

.cards__item__text {
  display: flex;
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.cards__item__text__author {
  color: #323b578c;
  font-size: 15px;
  line-height: 24px;
  display: flex;
}

.extra__info {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #2a3042;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: -1.2rem 1rem 0rem;
  padding: 25px 15px;
  position: relative;
  z-index: 10;
}
.tekst {
  color:aliceblue;
  font-size: 15px;
}

.opis {
  font: bold 1em "Fira Sans", sans-serif;
  margin: 15px 1px;
}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}





.animation{
  padding-left: 50%;
  margin-left: 48%;
  font-size: 1000%;
  transform: rotate(90deg);
  display: inline-block;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 50%;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }